git+https://github.com/NVIDIA/NeMo.git@208e0da28e2ada8da84d8f7ddff8623efe1ff01c#egg=nemo_toolkit[asr] # This commit hash is a recent version of main at the time of testing.
tqdm
soundfile
librosa
IPython # Workaround for https://github.com/NVIDIA/NeMo/pull/9890#discussion_r1701028427
cuda-python>=12.4 # Used for fast TDT and RNN-T inference