# TheWhisper requirements
--extra-index-url https://thestage.jfrog.io/artifactory/api/pypi/pypi-thestage-ai-production/simple
thestage-elastic-models
torch==2.9.0
transformers==4.52.3
datasets==3.6.0
evaluate>=0.4.0
tqdm
soundfile>=0.12.0
librosa>=0.10.0
huggingface-hub>=0.19.0
