torch==2.9.1
torchaudio==2.9.1
torchcodec==0.8.0
torchvision==0.24.1
pillow==12.1.0
transformers==4.57.1
tokenizers==0.22.2
safetensors==0.7.0
accelerate==1.12.0
huggingface-hub==0.36.0
numpy==2.3.5
librosa==0.11.0
jiwer==4.0.0
evaluate==0.4.6
datasets==4.8.5
soundfile==0.13.1
tqdm==4.67.1
num2words==0.5.14
regex==2026.1.15
