transformers
evaluate
datasets==2.19.0
jiwer
num2words
regex
soundfile
librosa
requests
tqdm
python-dotenv
kaldialign==0.12.0
openai
assemblyai
elevenlabs
rev_ai
speechmatics-python
httpx
requests-toolbelt
gladiaio-sdk
